/* Calendar.css */
.calendar-container {
  padding-top: 10px;
  margin:auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-width: 100%;
    overflow-x: auto;
  }
  .calendar-days{
    
    border: 1px solid #ccc;
  }
  .calendar-row {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
  }
  
  .calendar-title {
    font-weight: bold;
    font-size: 1.3rem;
  }

  
  .header-row {
    font-weight: bold;
    justify-content: space-between;
    flex: 0 0 auto;
  }
  
  .header-row > div {
    width: 80px;
    flex: 0 0 auto;
    text-align: center;
  }

  @media (max-width: 750px) {
    .header-row > div {
      width: 70px;
    }
  }

  @media (max-width: 600px) {
    .header-row > div {
      width: 60px;
    }
  }

  
  @media (max-width: 475px) {
    .header-row > div {
      width: 55px;
    }
  }
  
  