/* MainDisplay.css */
.main-container {
    display: flex;
    padding: 1rem;
  }
  
  /* First child (the TotalLeaderboard) takes 1/3 of the space */
  .main-container > :first-child {
    flex: 1;
    /* or width: 33%; */
  }
  
  /* Second child (the MonthlyContainer) takes 2/3 of the space */
  .main-container > :nth-child(2) {
    flex: 2;
    /* or width: 67%; */
  }
  
  