/* Base styles */
.monthly-leaderboard {
  min-width: 300px;
  flex: 1;
  margin-right: 1rem;
}

.monthly-leaderboard table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.monthly-leaderboard table th,
.monthly-leaderboard table td {
  border: 1px solid #aaa;
  padding: 0.5rem;
}

/* Row styles */
.gold-row {
  background-color: #dbb40c;
}
.level-gold-row {
  background-color: #b59410;
}

.silver-row {
  background-color: #c0c0c0;
}
.level-silver-row {
  background-color: #918e8c;
}

.bronze-row {
  background-color: #bf7d10;
}
.level-bronze-row {
  background-color:#aa720e; 
}

.user-row {
  font-style: italic;
}

/* Level rows */
.gold-row em,
.silver-row em,
.bronze-row em {
  font-style: italic;
}

.monthly-leaderboard table tr.gold-row:hover {
  background-color: #d4af37;
  cursor: default;
}

.monthly-leaderboard table tr.silver-row:hover{
  background-color: #b7bdc4;
  cursor: default;
}

.monthly-leaderboard table tr.bronze-row:hover {
  background-color: #b47c04;
  cursor: default;
}

