/* Base styles */
.monthly-leaderboard {
  min-width: 300px;
  flex: 1;
}
.points-column{
  min-width: 100px;
}
.monthly-leaderboard table {
  width: 100%;
  margin-top: 1rem;
}

.monthly-leaderboard table th,
.monthly-leaderboard table td {
  border: 1px solid #aaa;
  padding: 0.5rem;
}

.monthly-leaderboard table tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.monthly-leaderboard table th {
  font-size: 0.9rem;
  padding: 0.5rem;
}
.total-count{
  text-align: left;
}
.points-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medal {
  margin-left: auto;
}

.name-and-trophy{
  display: flex;
  align-items: flex-start;
}
.name-and-trophy p{
  flex: 1;
  margin: 0; 
  word-wrap: break-word; 
}
.trophy{
  margin-left: auto;
}
.trophy.first{
  height: 50px;
}
.trophy.second{
  max-height: 42px;
}
.trophy.third{
  max-height: 34px;
}
.medal {
  max-height: 30px;
}
.points-info-button{
  margin-left: auto;
}
.points-header{
  display: flex;
  align-items: flex-start;
}
@media (max-width: 750px) {
  .trophy.first{
    height: 45px;
  }
  .trophy.second{
    max-height: 41px;
  }
  .trophy.third{
    max-height: 36px;
  }
  .monthly-leaderboard table th {
    font-size: 0.8rem;
  }
  .medal {
    max-height: 27px;
  }
  .monthly-leaderboard table tr {
    font-size: 0.9rem;
  }
  
}
 @media (max-width: 600px) {
  .trophy.first{
    height: 43px;
  }
  .trophy.second{
    max-height: 40px;
  }
  .trophy.third{
    max-height: 35px;
  }
  .monthly-leaderboard table th {
    font-size: 0.8rem;
  }
  .medal {
    height: 25px;
  }
  .monthly-leaderboard table tr {
    font-size: 0.8rem;
  }
}
@media (max-width: 475px) {
  
  .monthly-leaderboard table th {
    font-size: 0.7rem;
  }
  .medal {
    height: 22px;
  }
  .monthly-leaderboard table tr {
    font-size: 0.75rem;
  }
}
