.monthly-overview {
  margin: auto;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.monthly-overview-other-user {
  font-weight: bold;
  padding-right: 10px;
}

.monthly-overview-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-total {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 160px;
}
.select-me-button{
  margin-right: 50px;
  max-height: 50px;
  min-width: 70px;
}
.medal {
  max-height: 30px;
}


.info-button{
  margin-left: auto;
}
.info-button svg{
  height: 20px;
  width: 20px;
}
.info-button:hover path {
  fill: red;
}

.level-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.level-info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.medal-info {
  max-height: 30px;
}
