/* MonthlyContainer.css */
.monthly-container {
  display: flex;
  flex-direction: column;
}

.monthly-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.columns-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.month-tabs-button div.month-tabs-button {
  display: flex;
  justify-content: center; 
  }