/* MonthlyOverview.css */
.monthly-overview {
    margin:auto;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex: 1;
    display: flex;
  }

.monthly-overview-other-user{
  font-weight: bold;
}

.monthly-overview-info{
  display: flex;
  margin: 10px;
  margin:auto;
}

.monthly-overview-other-user{
  padding-right: 10px;
}
