/* NavigationBar.css */
.custom-navbar {
    width: 100%;
    position: relative;
    min-height: 100px; /* or your preferred height */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* allow wrapping on smaller screens */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex: 1;
  }
  
  .center-logo {
    max-height: 100px; /* wide but not tall */
    width: auto;
    border-radius: 10%;
  }
  
  .emoji {
    display: inline-block;
  }
  
  .size1 {
    font-size: 1.2rem;
  }
  .size2 {
    font-size: 1.5rem;
  }
  .size3 {
    font-size: 1.8rem;
  }
  .size4 {
    font-size: 2.1rem;
  }
  
  .top-right-text {
    font-weight: bold;
    text-align: right;
    margin-left: auto;
  }
  
  @media (max-width: 961px) {
    .center-logo {
      max-height: 70px; }
    .custom-navbar {
        min-height: 70px;
      }
  
    .size1 {
      font-size: 1rem;
    }
    .size2 {
      font-size: 1.3rem;
    }
    .size3 {
      font-size: 1.6rem;
    }
    .size4 {
      font-size: 1.9rem;
    }
    .top-right-text {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 600px) {
    .center-logo {
      max-height: 45px; 
    }
    .custom-navbar {
      min-height: 45px;
    }
    .navbar-container {
      flex-direction: column;
    }
    .top-right-text {
      text-align: center;
      margin-left: 0;
      margin-top: 5px;
      font-size: 0.8rem;
    }
    .size1 {
      font-size: 0.9rem;
    }
    .size2 {
      font-size: 1.2rem;
    }
    .size3 {
      font-size: 1.5rem;
    }
    .size4 {
      font-size: 1.7rem;
    }
    @media (max-width: 430px) {
      .center-logo {
        max-height: 35px;
      }
      .custom-navbar {
        min-height: 35px;
      }
      .size1 {
        font-size: 0.8rem;
      }
      .size2 {
        font-size: 1rem;
      }
      .size3 {
        font-size: 1.2rem;
      }
      .size4 {
        font-size: 1.4rem;
      }
      .top-right-text {
        font-size: 0.7rem;
      }
    }
  }
  