/* NavigationBar.css */
.custom-navbar {
    width: 100%;
    position: relative;
    min-height: 100px; 
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex: 1;
  }
  
  .center-logo {
    max-height: 100px;
    width: auto;
    border-radius: 10%;
  }
  
  .emoji {
    display: inline-block;
  }
  
  .size1 {
    font-size: 1.2rem;
  }
  .size2 {
    font-size: 1.5rem;
  }
  .size3 {
    font-size: 1.8rem;
  }
  .size4 {
    font-size: 2.1rem;
  }
  
  .top-right-text {
    text-align: right;
    margin-left: auto;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .top-text-under-logo {
    text-align: center;
    margin-left: 0;
    margin-top: 5px;
    font-size: 0.8rem;
  }

  .username-navbar {
    font-weight: bold;
  }
  
@media (max-width: 961px) {
  .center-logo {
    max-height: 70px; }
  .custom-navbar {
      min-height: 70px;
    }

  .size1 {
    font-size: 1rem;
  }
  .size2 {
    font-size: 1.3rem;
  }
  .size3 {
    font-size: 1.6rem;
  }
  .size4 {
    font-size: 1.9rem;
  }
  .top-right-text {
    font-size: 0.9rem;
  }
}
  
@media (max-width: 600px) {
  .center-logo {
    max-height: 45px; 
  }
  .custom-navbar {
    min-height: 45px;
  }
  .size1 {
    font-size: 0.9rem;
  }
  .size2 {
    font-size: 1.2rem;
  }
  .size3 {
    font-size: 1.5rem;
  }
  .size4 {
    font-size: 1.7rem;
  }}
@media (max-width: 430px) {
  .center-logo {
    max-height: 35px;
  }
  .custom-navbar {
    min-height: 35px;
  }
  .size1 {
    font-size: 0.8rem;
  }
  .size2 {
    font-size: 1rem;
  }
  .size3 {
    font-size: 1.2rem;
  }
  .size4 {
    font-size: 1.4rem;
  }
  .top-text-under-logo {
    font-size: 0.7rem;
  }

}
