.total-leaderboard-container {
  flex: 1;
  margin: 1rem auto;
  max-width: 800px; /* Set a max-width for the table */
  padding: 0 1rem;
}

.total-leaderboard-container table {
  width: 100%;
  border-collapse: collapse;
}

.total-leaderboard-container table th,
.total-leaderboard-container table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.total-leaderboard-container table tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.total-leaderboard-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Medal column styles */
.medals-container {
  display: flex;
  gap: 4px;
  align-items: center;
  /* Left-align the medals */
  justify-content: flex-start;
}

.medal-icon {
  width: 20px;
  height: 20px;
}

.medal-abbr {
  display: flex;
  align-items: center;
  gap: 2px;
}

.medal-count {
  font-size: 0.8rem;
}
